{% extends "base.html" %}

{% block title %}Unsubscribed Users{% endblock %}

{% block header %}Unsubscribed Users{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for user in unsubscribed_emails %}
            <tr>
                <td>{{ user }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<form method="post" action="{% url 'delete_unsubscribed_users' %}">
    {% csrf_token %}
    <button type="submit">Flush list</button>
</form>
{% endblock %}
